<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/atmmneredelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/atmmneredelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ATMmNerede"
        tools:targetApi="31">
        <activity
            android:name=".Bilgi_isbank_activity"
            android:exported="false"  />
        <activity android:name=".Ara_isbank_activity"
            android:exported="false"/>
        <activity android:name=".BankalarListesi_activity"
            android:exported="false"/>
        <activity android:name=".Ara_halkbank_activity"
            android:exported="false"/>
        <activity android:name=".Bilgi_halkbank_activity"
            android:exported="false"/>
        <activity android:name=".Ara_finansbank_activity"
            android:exported="false"/>
        <activity android:name=".Bilgi_finansbank_activity"
            android:exported="false"/>
        <activity android:name=".Ara_kuveyt_activity"
            android:exported="false"/>
        <activity android:name=".Bilgi_kuveyt_activity"
            android:exported="false"/>
        <activity
            android:name=".BankaSec_activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ATMmNerede">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>